/*
  The theme specific "variable" elements are listed here nere the top
    - the colors of the 3 regions (Header, cbar and footer)
    - the blocks within the sidebars have a default color determined by .default_sideblock (this must be prior to other more specif class color assignments in order to main the cascading precedence)
    - specific colors for sidebar blocks can be assigne by using some of the various block classes or the individual block-id (see the drupal forums and documentation or view the source produced by drupal to see what block names are available. The possible variations of block names and classes make it unpracticle to account for all of them in this file
    - the radius of the corners is controlled by .edge_width,. row_height and .image_corner (see also readme pertaining to corner images)

  The spacing between regions is controlled by .roundblock_outer_spacing and #sidebar-left and #sidebar-right

   The .fullwidth class determines the width of the site (ie. 100% or 800px or 600px etc.)
*/

.default_sideblock {
    background-color : #c3c3c3;
  }


#header {
    background-color : #1f94dc;
  }


#footer, #footer-color {
    background-color : #c3c3c3;
  }

#block-user-1 {
   background-color:#FFB87A;
   }

.block-menu {
   background-color:#ffe1bf;
   }

#mission, #mission_color {
    background-color : #ffe1bf;
  }


#mission_image {
    padding-top : 0.5em;
    padding-right : 0.5em;
  }


#mission_title {
    font-size: 1.3em;
    font-weight: bold;
  }


#cbar-color {
    /* background-color : #Fff0d0;
    */ background-color : #fff0d0;
  }


.edge_width, .image_corner {
    width : 7px;
  }


.row_height, .image_corner {
    height : 7px;
  }


.image_corner {
    /* In Strict DOCTYPE mode (i.e. without quirks) the TD-cell cannot be made to fit the exact image size therefore display must be set to block*/ display : block;
  }

/* .body {background-color}   and
   .roundblock_outer_spacing {border-*-color} should be the same as the background-color of the corner images */


body {
    background-color : #ffffff;
    color : #000;
    font-family : Verdana,Arial,Helvetica,sans-serif;
    font-size : 76%;
    margin-bottom : 3px;
    margin-left : 3px;
    margin-right : 3px;
    margin-top : 3px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }

/* border-bottom-color should be set to the same color as body backgroung color */
.rounded_spacing {
    border-bottom-color : #ffffff;
    border-bottom-style : solid;
    border-bottom-width : 7px;
  }

/***********************************************/

tr.odd td, tr.even td {
    padding: 0.3em;
  }


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
  }


h1 {
    font-size: 1.3em;
  }


h2 {
    font-size: 1.2em;
  }


h3, h4, h5, h6 {
    font-size: 1.1em;
  }


p {
    margin-top: 0.5em;
    margin-bottom: 0.9em;
  }


a {
    text-decoration: none;
    font-weight: bold;
  }


a:link {
    color: #087F08;
  }


a:visited {
    color: #083f04;
  }


a:hover {
    color: #087F08;
    text-decoration: underline;
  }


fieldset {
    border: 1px solid #ccc;
  }


pre {
    background-color: #eee;
    padding: 0.75em 1.5em;
    font-size: 12px;
    border: 1px solid #ddd;
  }


table {
    /*make <td> sizes relative to body size!*/ font-size: 1em;
  }

tbody {
/* remove 1px border set by system css */
border-top-width: 0px;
}

.form-item label {
    font-size: 1em;
    color: #222;
  }


.item-list .title {
    font-size: 1em;
    color: #222;
  }


.comment .links {
    margin-bottom: 0em;
  }

/*
** Page layout blocks / IDs and Classes
*/


.fullwidth {
    width : 100%;
  }


#footer {
    font-size : 0.8em;
    padding-bottom : 0em;
    padding-left : 0em;
    padding-right : 0em;
    padding-top : 0em;
    text-align : center;
    width : 100%;
  }


#logo {
    vertical-align: middle;
    border: 0;
  }


#logo img {
    float : left;
    padding-bottom : 0em;
    padding-left : 0em;
    padding-right : 1em;
    padding-top : 0em;
  }


#menu {
    padding: 0.2em 0.2em 0 0.2em;
    text-align: right;
    vertical-align: middle;
  }


#primary {
    font-size: 1.0em;
    padding: 0em 0.8em 0.5em 0;
    color: #9cf;
  }


#primary a {
    font-weight: bold;
    color: #fff;
  }


#secondary {
    padding: 0 1em 0.5em 0;
    font-size: 0.8em;
    color: #9cf;
  }


#secondary a {
    font-weight: bold;
    color: #9cf;
  }


#search .form-text, #search .form-submit {
    border: 1px solid #369;
    font-size: 1.1em;
    height: 1.5em;
    vertical-align: middle;
  }


#search .form-text {
    width: 8em;
    padding: 0 0.2em 0 0.2em;
  }


#mission {
    /* color : #EA850A;
    */ color : #000000;
    font-size : 0.8em;
    font-style : italic;
    padding-bottom : 0em;
    padding-left : 0em;
    padding-right : 0em;
    padding-top : 0em;
    line-height: 1.1;
  }


#mission a, #mission a:visited {
    color: #9cf;
    font-weight: bold;
  }


.site-name {
    color : #ffffff;
    font-size : 2em;
    font-weight : bold;
    margin-bottom : 0em;
    margin-left : 0em;
    margin-right : 0em;
    margin-top : 0.6em;
    padding-bottom : 0em;
    padding-left : 0em;
    padding-right : 0em;
    padding-top : 0em;
    text-align : left;
  }


.site-name a:link, .site-name a:visited {
    color: #fff;
  }


.site-name a:hover {
    color: #369;
    text-decoration: none;
  }


.site-slogan {
    color : #F6E036;
    display : block;
    font-size : 1.1em;
    font-style : italic;
    margin-bottom : 0em;
    margin-left : 0em;
    margin-right : 0em;
    margin-top : 0em;
    text-align : center;
  }


#main {
    /* padding in px not ex because IE messes up 100% width tables otherwise */ padding: 10px;
  }


#help {
    font-size: 0.9em;
    margin-bottom: 1em;
  }


.breadcrumb {
    margin-bottom: .5em;
  }


.messages {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.3em;
    margin-bottom: 1em;
  }


.error {
    border-color: red;
  }


#sidebar-left {
    /* padding in px not ex because IE messes up 100% width tables otherwise padding : 2px;
    */ padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 5px;
    padding-top : 0px;
    vertical-align : top;
    width : 12em;
  }


#sidebar-right {
    /* padding in px not ex because IE messes up 100% width tables otherwise padding : 2px;
    */ padding-bottom : 0px;
    padding-right : 0px;
    padding-top : 0px;
    padding-left : 5px;
    vertical-align : top;
    width : 12em;
  }


/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/

.title, .title a {
    font-weight: bold;
    font-size: 1.3em;
    color: #5858EB;
    margin: 0 auto 0 auto;
    /* decrease default margins for h<x>.title */;
  }


.content {
    text-align:left;
  }

.node .content {
    text-align:justify;
  }


.submitted {
    color: #999;
    font-size: 0.8em;
  }


.links {
    color: #999;
  }


.links a {
    font-weight: bold;
  }


.box {
    padding: 0 0 1.5em 0;
  }


.block {
    /*border-bottom: 1px solid #bbb;
    */ padding-bottom: 0em;
  }


.block .title {
    margin-bottom: .25em;
  }


.box .title {
    font-size: 1.1em;
  }


.node {
    margin: .5em 0 2em 0;
  }


.sticky {
    padding: .5em;
    background-color: #eee;
    border: solid 1px #ddd;
  }


.node .content, .comment .content {
    margin: .5em 0 .5em 0;
  }


.node .taxonomy {
    color: #999;
    font-size: 0.8em;
    padding: 1.5em;
  }


.node .picture {
    border: 1px solid #ddd;
    float: right;
    margin: 0.5em;
  }


.comment {
    border: 1px solid #abc;
    padding: .5em;
    margin-bottom: 1em;
  }


.comment .title a {
    font-size: 1.1em;
    font-weight: normal;
  }


.comment .new {
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
    float: right;
    color: red;
  }


.comment .picture {
    border: 1px solid #abc;
    float: right;
    margin: 0.5em;
  }

/*
** Module specific styles
*/







































#aggregator .feed-source {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0 1em 0;
  }


#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
    color: #999;
    font-style: italic;
    font-size: 0.9em;
  }


#aggregator .title {
    margin-bottom: 0.5em;
    font-size: 1em;
  }


#aggregator h3 {
    margin-top: 1em;
  }


#forum table {
    width: 100%;
  }


#forum td {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }


#forum td.forum, #forum td.posts {
    background-color: #eee;
  }


#forum td.topics, #forum td.last-reply {
    background-color: #ddd;
  }


#forum td.container {
    background-color: #ccc;
  }


#forum td.container a {
    color: #555;
  }


#forum td.statistics, #forum td.settings, #forum td.pager {
    height: 1.5em;
    border: 1px solid #bbb;
  }


#forum td .name {
    color: #96c;
  }


#forum td .links {
    padding-top: 0.7em;
    font-size: 0.9em;
  }


#profile .profile {
    clear: both;
    border: 1px solid #abc;
    padding: .5em;
    margin: 1em 0em 1em 0em;
  }


#profile .profile .name {
    padding-bottom: 0.5em;
  }


.block-forum h3 {
    margin-bottom: .5em;
  }


.calendar a {
    text-decoration: none;
  }


.calendar td, .calendar th {
    padding: 0.4em 0;
    border-color: #888;
  }


.calendar .day-today {
    background-color: #69c;
  }


.calendar .day-today a {
    color: #fff;
  }


.calendar .day-selected {
    background-color: #369;
    color: #fff;
  }


.calendar .header-week {
    background-color: #ccc;
  }


.calendar .day-blank {
    background-color: #ccc;
  }


.calendar .row-week td a:hover {
    background-color: #fff;
    color: #000;
  }

